html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    background-color: #276561;
    font-family: sans-serif;
    color: white;
}

.container-navbar h4 {
    width: 300px;
    padding-left: 100px;
}

.container-bt-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.container-bt-navbar a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    margin-right: 100px;   
}

.container-bt-navbar label {
    display: flex;
    align-items: center;
    margin-right: 100px;   
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-content h2 {
    font-family: sans-serif;
    color: #276561;
}

.container-content h3 {
    font-family: sans-serif;
    width: 100%;
    background-color: #276561;
    color: white;
    text-align: center;
    padding: 20px;
}

.container-info {
    display: flex;
    flex-direction: row;
}

.container-info a {
    text-decoration: none;
}


.container-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.imageborder {
    display: flex;
    width: fit-content;
    height: 300px;
    align-items: end;
}


.container-info-item p {
    text-align: center;
    width: 250px;
    font-family: sans-serif;
    color: #757575;
    text-decoration: none;
    font-size: x-large;
}

.container-geo-desa {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
}

.container-geo-desa p {
    font-family: sans-serif;
    line-height: 1.8;
    font-size: x-large;
    margin-left: 100px;
}
